<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      HarbourOS
    </title>
    <link rel="icon" href="/images/logo.ico" />
    @vite(['resources/css/style.css', 'resources/js/index.js'])
    @stack('dumper')
  </head>
  <body>
    @include('partials/preloader')
    <main>
      @include('partials/flash_alerts')
      {{{ await $slots.main() }}}
    </main>
  </body>
</html>
