<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      HarbourOS
    </title>
    <link rel="icon" href="/images/logo.ico" />
    @if(user)
  <script>
    window.__userId = {{ user.id }}
  </script>
@end
    @vite(['resources/css/style.css', 'resources/js/index.js'])
    @stack('dumper')
  </head>
  <body
    x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}"
  >
    <!-- ===== Preloader Start ===== -->
    @include('partials/preloader')
    <!-- ===== Preloader End ===== -->

    <!-- ===== Page Wrapper Start ===== -->
    <div class="flex h-screen overflow-hidden">
      <!-- ===== Sidebar Start ===== -->
      @include('partials/sidebar')
      <!-- ===== Sidebar End ===== -->

      <!-- ===== Content Area Start ===== -->
      <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
        <!-- Small Device Overlay Start -->
        @include('partials/overlay')
        <!-- Small Device Overlay End -->

        <!-- ===== Header Start ===== -->
        @include('partials/header')
        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        <main>
          <div class="mx-auto max-w-(--breakpoint-2xl) p-4 pb-20 md:p-6 md:pb-6">
            @include('partials/flash_alerts')
          </div>
          <div class="mx-auto max-w-(--breakpoint-2xl) p-4 pb-20 md:p-6 md:pb-6">
            {{{ await $slots.main() }}}
          </div>
        </main>
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
    <form id="logout-form" method="POST" action="/logout" style="display:none;">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>

    <script>
      document.addEventListener("keydown", function(e) {
        if (e.ctrlKey && e.shiftKey && e.key.toLowerCase() === "l") {
          e.preventDefault();
          document.getElementById("logout-form").submit();
        }
      });

      let timeout;

      function resetTimer() {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          document.getElementById("logout-form").submit();
        }, 15 * 60 * 1e3);
      }

      [ "mousemove", "keydown", "click", "scroll" ].forEach(event => {
        document.addEventListener(event, resetTimer);
      });

      resetTimer();
    </script>
  </body>
</html>
