<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo.ico" />
    <title>
      HarbourOS
    </title>
    @vite(['resources/css/style.css', 'resources/js/index.js'])
    @stack('dumper')
  </head>
  <body>
    @include('partials/preloader')
    <main>
      <div class="mx-auto max-w-(--breakpoint-2xl) p-4 pb-20 md:p-6 md:pb-6">
        @include('partials/flash_alerts')
      </div>
      <div class="mx-auto max-w-(--breakpoint-2xl) p-4 pb-20 md:p-6 md:pb-6">
        {{{ await $slots.main() }}}
      </div>
    </main>
  </body>
</html>
