@let(descriptionFromSlot = await $slots.main())
@let(description = descriptionFromSlot.trim() ? descriptionFromSlot : $props.get('text'))
@let(classes = [])

<p
  class="text-sm text-gray-500 dark:text-gray-400"
  {{ $props
  .except(['text'])
  .merge({ class: classes })
  .toAttrs() }}
>
  {{{ description }}}
</p>
