@let(titleFromSlot = await $slots.main())
@let(title = titleFromSlot.trim() ? titleFromSlot : $props.get('text'))
@let(classes = [])

<h4
  class="mb-1 text-sm font-semibold text-gray-800 dark:text-white/90"
  {{ $props
  .except(['text'])
  .merge({ class: classes })
  .toAttrs() }}
>
  {{{ title }}}
</h4>
